<?xml version="1.0" encoding="iso-8859-15"?>

<launch>
  <!--Used for debugging with C++ debuggers such as gdb: 
       http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB-->
  <arg name="launch-prefix" default=""/>
  <!--Number of events in each processing window-->
  <arg name="n_events_per_window" default="30000"/>
  <!--If reading from a ROS bag directly, specifies the timestamp to start reading from the bag.-->
  <arg name="start_time" default="9.5"/>
  <!--If true, will read topics from the ROS bag at $(arg data_bag_path),
      otherwise will subscribe to topics directly-->
  <arg name="read_from_bag" default="false"/>
  <!-- If true, events will be sent to the python node as a 4 channel image as in EV-FlowNet:
       https://arxiv.org/abs/1802.06898
       Otherwise, a 4xN matrix will be sent,
       where each row contains an event encoded as (x,y,t,p).-->
  <arg name="pub_event_arr" default="true"/>
  <!--File with the calibration for the camera.-->
  <arg name="calibration_file"/>

  <!--Args to be used if read_from_bag is true, i.e. if you are reading from a bag from MVSEC.-->
  <!--Path to the data and gt bags from MVSEC.-->
  <arg name="data_bag_path" default="~/mvsec/indoor_flying1_data.bg"/>
  <arg name="gt_bag_path" default="~/mvsec/indoor_flying1_gt.bag"/>

  <node pkg="event_cpp_python_node" type="event_cpp_python_node" name="event_cpp_node" output="screen" required="true" launch-prefix="$(arg launch-prefix)">
    <rosparam command="load" file="$(arg calibration_file)"/>
    <param name="read_from_bag" type="bool" value="$(arg read_from_bag)"/>
    <param name="data_bag_path" type="str" value="$(arg data_bag_path)"/>
    <param name="gt_bag_path" type="str" value="$(arg gt_bag_path)"/>
    <param name="n_events_per_window" type="int" value="$(arg n_events_per_window)"/>
    <param name="start_time" type="double" value="$(arg start_time)"/>
    <param name="pub_event_arr" type="bool" value="$(arg pub_event_arr)"/>
    <remap from="left/events" to="/davis/left/events"/>
    <remap from="right/events" to="/davis/right/events"/>
    <remap from="pose" to="/davis/left/odometry"/>
    <remap from="depth_image" to="/davis/left/depth_image_rect"/>
  </node>

  <node pkg="event_cpp_python_node" type="event_cpp_python_pynode.py" name="event_python_node" required="true" output="screen">
    <param name="n_events_per_window" type="int" value="$(arg n_events_per_window)"/>
    <param name="bag_folder_path" type="str" value="$(arg bag_folder_path)"/>
    <param name="sequence" type="str" value="$(arg calib_sequence)"/>
    <param name="pub_event_arr" type="bool" value="$(arg pub_event_arr)"/>
  </node>
</launch>
